<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks List</title>
    <link rel="stylesheet" href="/static/css/forAllPage.css" th:href="@{/css/forAllPage.css}">
</head>
<body>

<div class="tasks">
    <h1 style="color: gray">Задачи</h1>
    <div th:each="task : ${tasks}">
        <a style="color: gray" th:href="@{/web/user/aboutUser/tasks/{taskId}(taskId=${task.getId()})}" th:text="${task.getTitle()}"></a>
    </div>

    <a style="color: gray"th:href="@{/web/user/aboutUser/tasks/create}">Создать задачу</a>
    <p></p>
    <a style="color: gray"href="/web/user/aboutUser">На страницу пользователя</a>
</div>

<div class="noTasks" th:if="${noTasks}">
    <h1 style="color: gray">Задач нет</h1>

    <a style="color: gray" th:href="@{/web/user/aboutUser/tasks/create}">Создать задачу</a>
    <p></p>
    <a style="color: gray" href="/web/user/aboutUser">На страницу пользователя</a>
</div>

<div class="wrapper"></div>
</body>
</html>