<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Task</title>
    <link rel="stylesheet" href="/static/css/forAllPage.css" th:href="@{/css/forAllPage.css}">
    <link rel="stylesheet" href="/static/css/input.css" th:href="@{/css/input.css}">
</head>
<body>

<div class="task_info">
    <h1 style="color: gray">Изменить задачу</h1>
    <form th:method="POST" th:action="@{/web/user/aboutUser/tasks/{taskId}/update(taskId=${task.getId()})}" th:object="${task}">

        <div class="form__group">
            <input type="text" th:field="*{title}" class="form__input" id="title" placeholder="Название" required="" />
            <br>
        </div>

        <div class="form__group">
            <input type="text" th:field="*{description}" class="form__input" id="description" placeholder="Описание" required="" />
            <br>
        </div>

        <div class="form__group">
            <input type="text" th:field="*{expirationDateString}" class="form__input" id="expirationDateString" placeholder="Дата" required="" />
            <p>Дата (пример:2024-06-30 16:30). Где сначала идёт год, месяц, дата, часы, минуты</p>
        </div>

        <div class="submit_button"><input  type="submit" value="Обновить"></div>

        <div class="errors">
            <div th:list="${error}">
                <h1 style="color: red" th:text="${error}"></h1>
            </div>
        </div>
    </form>
</div>

<div class="wrapper"></div>
</body>
</html>