.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #FFE0AF;
    background-image:
            linear-gradient(45deg, #FFDD88 25%, transparent 25%, transparent 75%, #FFDD88 75%, #FFDD88),
            linear-gradient(45deg, #FFDD88 25%, transparent 25%, transparent 75%, #FFDD88 75%, #FFDD88),
            linear-gradient(45deg, transparent, transparent 50%, #FFC87F 50%, #FFC87F);
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px, 50px 0px;
    -webkit-animation: scroll 5s linear infinite;
}

@-webkit-keyframes scroll {
    from { background-position: 0 0, 50px 50px, 50px 0; }
    to { background-position: -100px -100px, -50px -50px, -50px -100px; }
}

.info{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 1000px;
    background: white;
}

.update{
    margin-top: 300px;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 450px;
    left: 750px;
    height: 250px;
    background: white;
    display: flex;
    align-items: center;
}

.update>form{
    display:block;
    margin:0 auto;
}

.submit_button{
    text-align: center;
}

.submit_button_password{
    margin: 20px;
    text-align: center;
}

.tasks{
    margin-top: 300px;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 500px;
    left: 750px;
    height: 100px;
    background: white;
}

.task_info{
    margin-top: 60px;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 800px;
    left: 580px;
    height: 750px;
    background: white;
    text-align: center;
}