<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
    <link rel="stylesheet" href="/static/css/forAllPage.css" th:href="@{/css/forAllPage.css}">
    <link rel="stylesheet" href="/static/css/input.css" th:href="@{/css/input.css}">
</head>
<body>
<div class="update">
    <form th:method="POST" th:action="@{/web/user/aboutUser/updatePassword}">
        <div class="form__group">
            <input type="text" class="form__input" name="password" placeholder="Новый пароль" required="" />
            <br>
        </div>
        <div class="submit_button"><input type="submit" value="Обновить пароль"></div>
    </form>

    <div th:list="${error}">
        <h1 style="color: red" th:text="${error}"></h1>
    </div>
</div>
<div class="wrapper"></div>
</body>
</html>