<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:list="${error}">
    <h1 style="color: red" th:text="${error}"></h1>
</div>

<form th:method="POST" th:action="@{/web/user/{id}/update(id=${user.getId()})}" th:object="${user}">
    <label  for="name">Введите имя</label>
    <input type="text" th:field="*{name}" id="name">
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <br>
    <label for="email">Введите почту</label>
    <input type="text" th:field="*{email}" id="email">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <br>
    <input type="submit" value="Обновить">
</form>

</body>
</html>